.navbar-brand h3{
  margin: 20px;
}

.auction-list{
  text-align: center;
  display: flex;
}

.player{
  width: 70%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
